
.profile{
          width: 335px; 
           height:400px;
           box-shadow: 5px 10px #b6b2a9;
           border-image-slice: 20%;
            order: 1;
             animation: profile__animate 9s ease-in-out infinite 1s;
            }
@keyframes profile__animate {
    0% {
        border-radius: 60% 40% 30% 70%/ 60% 30% 70% 40%;
    }
    50% {
        border-radius: 30% 60% 70% 40%/ 50% 60% 30% 60%;
    }
    100% {
        border-radius: 60% 40% 30% 70%/ 60% 30% 70% 40%;
    }

}
.profile1{
    width: 270px; 
     height:310px;
     box-shadow: 5px 10px 4px #8f8f96;
     border-image-slice: 50%;
      order: 1;
      }
.paymonk{
    width: 150px;
}

#grad{
    /* background-image: linear-gradient(to right, rgb(221, 45, 45),rgb(197, 137, 26),rgb(244, 244, 5),rgb(221, 45, 45),rgb(197, 137, 26),rgb(244, 244, 5)); */
    background-image: linear-gradient(to right, rgb(0, 0, 0), rgb(169, 169, 169));

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  
}